node_modules
dist
.output
.DS_Store
*.log
.env
.env.local
.env.production
.env.development
.env.*.local

# Yarn
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
.yarn/*.log

route-*.json