node_modules
dist
.output
.DS_Store
*.log
.env
.env.local
.env.production
.env.development
.env.*.local
packages/backend/.env*
!packages/backend/.env.example
packages/frontend/.env*
!packages/frontend/.env.example
packages/frontend/.vercel/

# Yarn
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
.yarn/*.log

route-*.json
