@import 'tailwindcss';

@theme {
  --color-primary-50: #eef0ff;
  --color-primary-100: #e0e3ff;
  --color-primary-200: #c7cbfe;
  --color-primary-300: #a6aafb;
  --color-primary-400: #9491f8;
  --color-primary-500: #7264f0;
  --color-primary-600: #6347e4;
  --color-primary-700: #5639c9;
  --color-primary-800: #4631a2;
  --color-primary-900: #3c2f80;
  --color-primary-950: #241b4b;

  --color-secondary-50: #edf7ff;
  --color-secondary-100: #d6ebff;
  --color-secondary-200: #b6deff;
  --color-secondary-300: #84cbff;
  --color-secondary-400: #4aadff;
  --color-secondary-500: #2188ff;
  --color-secondary-600: #0966ff;
  --color-secondary-700: #034ef2;
  --color-secondary-800: #093cba;
  --color-secondary-900: #0f3a99;
  --color-secondary-950: #0e245d;
}
